// @import "_libs/responsive-text";

// Display Text
.display1 {
  font-family: var(--font-primary, sans-serif);
  font-size: var(--tenka-font-size-display-1, 8rem);
  line-height: var(--line-height-reset, 1);
  letter-spacing: -0.044em;
  font-weight: var(--tenka-font-weight-900, 900);
  // &.rf {
  //   @include responsive-size(
  //     var(--tenka-font-size-display2, 6rem),
  //     var(--tenka-font-size-display1, 8rem)
  //   );
  // }
}
.display2 {
  font-family: var(--font-primary, sans-serif);
  font-size: var(--tenka-font-size-display-2, 8rem);
  line-height: var(--line-height-reset, 1);
  letter-spacing: -0.044em;
  font-weight: var(--tenka-font-weight-900, 900);
  // &.rf {
  //   @include responsive-size(
  //     var(--tenka-font-size-display3, 6rem),
  //     var(--tenka-font-size-display2, 8rem)
  //   );
  // }
}
.display3 {
  font-family: var(--font-primary, sans-serif);
  font-size: var(--tenka-font-size-display-3, 6rem);
  line-height: var(--line-height-reset, 1);
  letter-spacing: -0.044em;
  font-weight: var(--tenka-font-weight-900, 900);
  // &.rf {
  //   @include responsive-size(
  //     var(--tenka-font-size-heading1, 3rem),
  //     var(--tenka-font-size-display3, 6rem)
  //   );
  // }
}

// Heading Text
.heading1 {
  font-size: var(--tenka-font-size-heading-1, 3rem);
  line-height: var(--line-height-reset, 1);
  // line-height: 52px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-700, 700);
  // &.rf {
  //   @include responsive-size(
  //     var(--tenka-font-size-heading2, 2rem),
  //     var(--tenka-font-size-heading1, 3rem)
  //   );
  // }
}

.heading2 {
  font-size: var(--tenka-font-size-heading-2, 2rem);
  line-height: var(--tenka-line-height-cozy, 1.125);
  // line-height: 36px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-700, 700);
  // &.rf {
  //   @include responsive-size(
  //     var(--tenka-font-size-heading3, 1.5rem),
  //     var(--tenka-font-size-heading2, 2rem)
  //   );
  // }
}
.heading3 {
  font-size: var(--tenka-font-size-heading-3, 1.5rem);
  line-height: var(--tenka-line-height-cozy, 1.125);
  // line-height: 30px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-700, 700);
  // &.rf {
  //   @include responsive-size(
  //     var(20px),
  //     var(--tenka-font-size-heading3, 1.5rem)
  //   );
  // }
}

.heading4 {
  font-size: var(--tenka-font-size-heading-4, 1.125rem);
  line-height: var(--tenka-line-height-cozy, 1.125);
  // line-height: 26px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-500, 500);
  // &.rf {
  //   @include responsive-size(
  //     var(16px),
  //     var(--tenka-font-size-heading4, 1.125rem)
  //   );
  // }
}
.heading5 {
  font-size: var(--tenka-font-size-heading-5, 1rem);
  line-height: var(--tenka-line-height-cozy, 1.125);
  // line-height: 22px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-500, 500);
  // &.rf {
  //   @include responsive-size(var(16px), var(--tenka-font-size-heading5, 1rem));
  // }
}
.heading6 {
  font-size: var(--tenka-font-size-heading-6, 0.875rem);
  line-height: var(--tenka-line-height-cozy, 1.125);
  // line-height: 18px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-500, 500);
  // &.rf {
  //   @include responsive-size(
  //     var(14px),
  //     var(--tenka-font-size-heading6, 0.875rem)
  //   );
  // }
}

// Body Text
.xlarge {
  font-size: var(--tenka-font-size-body-1, 1.25rem);
  line-height: var(--tenka-line-height-comfortable, 1.5);
  // line-height: 28px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-400, 400);
}
.large {
  font-size: var(--tenka-font-size-body-2, 1.125rem);
  line-height: var(--tenka-line-height-comfortable, 1.5);
  // line-height: 26px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-400, 400);
}
.medium {
  font-size: var(--tenka-font-size-body-3, 1rem);
  line-height: var(--tenka-line-height-comfortable, 1.5);
  // line-height: 22px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-400, 400);
}
.small {
  font-size: var(--tenka-font-size-body-4, 0.875rem);
  line-height: var(--tenka-line-height-comfortable, 1.5);
  // line-height: 18px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-400, 400);
}

// Caption
.caption {
  font-size: var(--tenka-font-size-caption1, 0.875rem);
  line-height: var(--tenka-line-height-comfortable, 1.125);
  // line-height: 16px;
  letter-spacing: -0.024em;
  font-weight: var(--tenka-font-weight-400, 400);
}

// Label
.label {
  font-size: var(--tenka-size-heading5, 1rem);
  line-height: 22px;
  font-weight: var(--tenka-font-weight-500, 500);
}
.labelSmall {
  font-size: var(--tenka-size-heading6, 0.875rem);
  line-height: 18px;
  font-weight: var(--tenka-font-weight-500, 500);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.breakWord {
  hyphens: auto;
  word-wrap: break-word;
}

.truncate {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
}

.prewrap {
  white-space: pre-wrap;
}
