@import "./../assets/fonts/masbul/stylesheet.css";

:root {
  /* --brand-primary-200: rgba(255, 4, 50, 1); */
  /* HOW TO MODIFY CSS CUSTOM PROPERTIES USING JAVASCRIPT */
  /* document.documentElement.style.setProperty('--your-variable', '#YOURCOLOR'); */
  /* document.documentElement.style.getPropertyValue('--your-variable'); */

  /* RESPONSIVE BREAKPOINTS */
  --tenka-max-420: 419px;
  --tenka-min-420: 420px;
  --tenka-max-720: 719px;
  --tenka-min-720: 720px;
  --tenka-max-840: 839px;
  --tenka-min-840: 840px;
  --tenka-max-1024: 1023px;
  --tenka-min-1024: 1024px;
  --tenka-max-1280: 1279px;
  --tenka-min-1280: 1280px;
  --tenka-max-1536: 1535px;
  --tenka-min-1536: 1536px;
  --tenka-max-sphone: var(--tenka-max-420);
  --tenka-min-phone: var(--tenka-min-420);
  --tenka-max-phone: var(--tenka-max-720);
  --tenka-min-tablet: var(--tenka-min-720);
  --tenka-max-tablet: var(--tenka-max-840);
  --tenka-min-ltablet: var(--tenka-min-840);
  --tenka-max-ltablet: var(--tenka-max-1024);
  --tenka-min-desktop: var(--tenka-min-1024);
  --tenka-max-desktop: var(--tenka-max-1536);
  --tenka-min-wide: var(--tenka-min-1536);

  /* SPACES */
  --tenka-base: 16px;
  --tenka-space-0: 0rem;
  --tenka-space-xxs: 0.125rem;
  --tenka-space-xs: 0.25rem;
  --tenka-space-s: 0.5rem;
  --tenka-space-sm: 0.75rem;
  --tenka-space-m: 1rem;
  --tenka-space-ml: 1.25rem;
  --tenka-space-l: 1.5rem;
  --tenka-space-xl: 2rem;
  --tenka-space-xxl: 3rem;
  --tenka-space-xxxl: 4rem;
  --tenka-space-huge: 6rem;
  --tenka-space-field: 1.25rem;

  /* TYPOGRAPHY */
  /* Font Stack */
  --font-primary: "Masbul", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-secondary: "Masbul", "IBM Plex Serif", "SF Pro Display", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  --font-monospace: "Roboto Mono", "Operator Mono", monospace;
  --font-display: "Masbul", serif;

  /* font-sizes */
  --tenka-font-size-display-1: 128px;
  --tenka-font-size-display-2: 96px;
  --tenka-font-size-display-3: 64px;
  --tenka-font-size-heading-1: 48px;
  --tenka-font-size-heading-2: 32px;
  --tenka-font-size-heading-3: 24px;
  --tenka-font-size-heading-4: 19px;
  --tenka-font-size-heading-5: 17px;
  --tenka-font-size-heading-6: 15px;
  --tenka-font-size-xlarge: 22px;
  --tenka-font-size-large: 19px;
  --tenka-font-size-medium: 17px;
  --tenka-font-size-small: 15px;
  --tenka-font-size-caption-1: 14px;
  --tenka-font-size-caption-2: 12px;

  /* line-heights */
  --tenka-line-height-display-1: 1.09375em;
  --tenka-line-height-display-2: 1.125em;
  --tenka-line-height-display-3: 1.125em;
  --tenka-line-height-heading-1: 3.5rem;
  --tenka-line-height-heading-2: 2.5rem;
  --tenka-line-height-heading-3: 2rem;
  --tenka-line-height-heading-4: 1.525rem;
  --tenka-line-height-heading-5: 1.375rem;
  --tenka-line-height-heading-6: 1.125rem;
  --tenka-line-height-xlarge: 1.75rem;
  --tenka-line-height-large: 1.625rem;
  --tenka-line-height-medium: 1.375rem;
  --tenka-line-height-small: 1.135rem;
  --tenka-line-height-caption: 1.125rem;
  --tenka-line-height-label: 1.375rem;
  --tenka-line-height-label-small: 1.125rem;

  /* font-weights */
  --tenka-font-weight-100: 100;
  --tenka-font-weight-200: 200;
  --tenka-font-weight-300: 300;
  --tenka-font-weight-400: 400;
  --tenka-font-weight-500: 500;
  --tenka-font-weight-600: 600;
  --tenka-font-weight-700: 700;
  --tenka-font-weight-800: 800;
  --tenka-font-weight-900: 900;

  /* Line Height */
  --tenka-line-height-compact: 1.25;
  --tenka-line-height-cozy: 1.125;
  --tenka-line-height-comfortable: 1.5;
  --tenka-line-height-reset: 1;

  /* COLORS */
  /* --brand-primary-10: hsl(358, 100%, 68%); #ff5a60 */
  --brand-primary-100: hsl(349, 100%, 61%); /* #ff385d */
  --brand-primary-200: hsl(358, 83%, 64%); /* #ef585d */
  --brand-primary-300: hsl(358, 75%, 58%); /* #E44449 */
  --brand-primary-10: hsla(358, 100%, 68%, 0.1);
  --brand-primary-20: hsla(358, 100%, 68%, 0.2);
  --brand-primary-30: hsla(358, 100%, 68%, 0.3);
  --brand-primary-40: hsla(358, 100%, 68%, 0.4);
  --brand-primary-50: hsla(358, 100%, 68%, 0.5);
  --brand-primary-60: hsla(358, 100%, 68%, 0.6);
  --brand-primary-70: hsla(358, 100%, 68%, 0.7);
  --brand-primary-80: hsla(358, 100%, 68%, 0.8);
  --brand-primary-90: hsla(358, 100%, 68%, 0.9);

  /* BRAND SECONDARY */
  --brand-secondary-100: hsl(181, 100%, 27%); /* #008689 */
  --brand-secondary-200: hsl(186, 100%, 26%); /* #007986 */
  --brand-secondary-300: hsl(182, 100%, 22%); /* #006c6f */
  --brand-secondary-10: hsla(181, 100%, 27%, 0.1);
  --brand-secondary-20: hsla(181, 100%, 27%, 0.2);
  --brand-secondary-30: hsla(181, 100%, 27%, 0.3);
  --brand-secondary-40: hsla(181, 100%, 27%, 0.4);
  --brand-secondary-50: hsla(181, 100%, 27%, 0.5);
  --brand-secondary-60: hsla(181, 100%, 27%, 0.6);
  --brand-secondary-70: hsla(181, 100%, 27%, 0.7);
  --brand-secondary-80: hsla(181, 100%, 27%, 0.8);
  --brand-secondary-90: hsla(181, 100%, 27%, 0.9);

  /* Maroon */
  --brand-maroon-10: hsla(335, 70%, 38%, 0.1); /* #a41d55 */
  --brand-maroon-100: hsl(343, 70%, 46%); /* #C72352 */
  --brand-maroon-200: hsl(335, 70%, 38%); /* #a41d55 */
  --brand-maroon-300: hsl(337, 71%, 32%); /* #8c1845 */

  --accent-scarlet: #ff1623; /* #ff1623; */
  --accent-navy: #0f083c; /* #0f083c; */
  --accent-yellow: #ffdc4a; /* #ffdc4a; */
  --accent-peach: #f7e0d0; /* #f7e0d0; */
  --accent-rose: #ffa78f; /* #ffa78f; */
  --accent-pink: #ff9e9f; /* #ff9e9f; */
  --accent-sky: #b3d9da; /* #b3d9da; */

  /* DARK */
  /* ALPHA */
  --tenka-dark-100: rgba(0, 0, 0, 0.99);
  --tenka-dark-90: rgba(0, 0, 0, 0.94);
  --tenka-dark-80: rgba(0, 0, 0, 0.84);
  --tenka-dark-70: rgba(0, 0, 0, 0.72);
  --tenka-dark-60: rgba(0, 0, 0, 0.54);
  --tenka-dark-50: rgba(0, 0, 0, 0.44);
  --tenka-dark-40: rgba(0, 0, 0, 0.2);
  --tenka-dark-30: rgba(0, 0, 0, 0.12);
  --tenka-dark-20: rgba(0, 0, 0, 0.08);
  --tenka-dark-10: rgba(0, 0, 0, 0.04);

  /* Hex */
  --tenka-dark-hex-100: #000000; /* Heading */
  --tenka-dark-hex-90: #000100; /* Heading */
  --tenka-dark-hex-80: #272727; /* Heading and Body text in text-heavy page such as blog post */
  --tenka-dark-hex-70: #484848; /*Body text */
  --tenka-dark-hex-60: #767676; /* Caption and subtitle */
  --tenka-dark-hex-50: #8f8f8f;
  --tenka-dark-hex-40: #cccccc;
  --tenka-dark-hex-30: #e0e0e0;
  --tenka-dark-hex-20: #ebebeb;
  --tenka-dark-hex-10: #f5f5f5;

  /* LIGHT */
  /* Alpha */
  --tenka-light-100: rgba(255, 255, 255, 1);
  --tenka-light-90: rgba(255, 255, 255, 0.84);
  --tenka-light-80: rgba(255, 255, 255, 0.71);
  --tenka-light-70: rgba(255, 255, 255, 0.54);
  --tenka-light-60: rgba(255, 255, 255, 0.4);
  --tenka-light-50: rgba(255, 255, 255, 0.2);
  --tenka-light-40: rgba(255, 255, 255, 0.16);
  --tenka-light-30: rgba(255, 255, 255, 0.1);
  --tenka-light-20: rgba(255, 255, 255, 0.06);
  --tenka-light-10: rgba(255, 255, 255, 0.02);
  /* Hex */
  --tenka-light-hex-100: #ffffff;
  --tenka-light-hex-90: #dcdcdc;
  --tenka-light-hex-80: #c0c0c0;
  --tenka-light-hex-70: #9c9c9c;

  /* Tone colors */
  --tone-critical-10: rgba(255, 93, 61, 0.11);
  --tone-critical-100: #ff603f;
  --tone-critical-200: #e42700;
  --tone-critical-300: #940d00;

  --tone-warning-10: hsl(40, 100%, 91%); /* #ffefcf */
  --tone-warning-100: hsl(42, 100%, 50%); /* #ffb200 */
  --tone-warning-200: hsl(40, 100%, 48%); /* #f5a300 */
  --tone-warning-300: hsl(32, 100%, 32%); /* #A35700 */

  --tone-positive-100: #57d9a3;
  --tone-positive-200: #00875a;
  --tone-positive-300: #006644;

  /* Background Colors */
  /* Only use this colors for background */
  --bg-primary: #ffffff;
  --bg-gray: #f5f5f9;

  /* ROSE */
  --bg-rose-100: #fce7dd;
  --bg-rose-200: #e3cdd1;
  --bg-rose-300: #d8bac0;
  /* SCARLET */
  --bg-scarlet-100: #ffeaee;
  --bg-scarlet-200: #ffc4cf;
  --bg-scarlet-300: #ffa2b3;
  /* SAGE */
  --bg-sage-100: #e8f3ec;
  --bg-sage-200: #cad8b4;
  --bg-sage-300: #b7ca9a;
  /* SEA */
  --bg-sea-100: #d7efee;
  --bg-sea-200: #a9dcd7;
  --bg-sea-300: #92d3cc;
  /* PLUM */
  --bg-plum-100: #dfd8e3;
  --bg-plum-200: #d4d0e3;
  --bg-plum-300: #beb8d5;
  /* SKY */
  --bg-sky-100: #e2eff9;
  --bg-sky-200: #b7d7f0;
  --bg-sky-300: #91c2e8;
  /* SAND */
  --bg-sand-100: #f6f1e4;
  --bg-sand-200: #e0d0b7;
  --bg-sand-300: #d8c4a5;
  /* DUST */
  --bg-dust-100: #f7f7f5;
  --bg-dust-200: #f0f0ee;
  --bg-dust-300: #b7b7ad;
  /* VERDANT */
  --bg-verdant-100: #e4fdeb;
  --bg-verdant-200: #d9fce3;
  --bg-verdant-300: #a9eebc;
  /* BANANA */
  --bg-banana-100: #fffddd;
  --bg-banana-200: #fffbbb;
  --bg-banana-300: #fffe95;
}
