/*
  TextSize tokens
  Base: 1rem == 16px
*/

$radius-xxs: 2px;
$radius-xs: 3px;
$radius-s: 6px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xxl: 9999px;
$radius-rounded: 9999999px;

$radius-field: 6px;
$radius-card: 12px;
