/*
  Spaces tokens
*/

$base: 16px;
$row-height: 4px;

$space-default: 1rem;
$space-xxs: 0.125rem;
$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-sm: 0.75rem;
$space-m: 1rem;
$space-ml: 1.5rem;
$space-l: 2rem;
$space-ll: 3rem;
$space-xl: 4rem;
$space-xxl: 6rem;

$space-huge: 7rem;
$space-field: 20px;
