$layer-behind: -9;
$layer-reset: auto;

$layer-xs: 9;
$layer-s: 99;
$layer-sm: 999;
$layer-m: 9999;
$layer-ml: 99999;
$layer-l: 999999;
$layer-ll: 9999999;
$layer-xl: 99999999;

$layer-top: 999999999;
