.inline {
  display: inline-flex;
}

/* Padding */
.xxs {
  padding: var(--tenka-space-xxs);
}
.xs {
  padding: var(--tenka-space-xs);
}
.s {
  padding: var(--tenka-space-s);
}
.sm {
  padding: var(--tenka-space-sm);
}
.m {
  padding: var(--tenka-space-m);
}
.ml {
  padding: var(--tenka-space-ml);
}
.l {
  padding: var(--tenka-space-l);
}
.xl {
  padding: var(--tenka-space-xl);
}
.xxl {
  padding: var(--tenka-space-xxl);
}
.xxxl {
  padding: var(--tenka-space-xxxl);
}

/* Padding Vertical */
.py-xxs {
  padding-top: var(--tenka-space-xxs);
  padding-bottom: var(--tenka-space-xxs);
}
.py-xs {
  padding-top: var(--tenka-space-xs);
  padding-bottom: var(--tenka-space-xs);
}
.py-s {
  padding-top: var(--tenka-space-s);
  padding-bottom: var(--tenka-space-s);
}
.py-sm {
  padding-top: var(--tenka-space-sm);
  padding-bottom: var(--tenka-space-sm);
}
.py-m {
  padding-top: var(--tenka-space-m);
  padding-bottom: var(--tenka-space-m);
}
.py-ml {
  padding-top: var(--tenka-space-ml);
  padding-bottom: var(--tenka-space-ml);
}
.py-l {
  padding-top: var(--tenka-space-l);
  padding-bottom: var(--tenka-space-l);
}
.py-xl {
  padding-top: var(--tenka-space-xl);
  padding-bottom: var(--tenka-space-xl);
}
.py-xxl {
  padding-top: var(--tenka-space-xxl);
  padding-bottom: var(--tenka-space-xxl);
}
.py-xxxl {
  padding-top: var(--tenka-space-xxxl);
  padding-bottom: var(--tenka-space-xxxl);
}

/* Padding Horizontal */
.py-xxs {
  padding-top: var(--tenka-space-xxs);
  padding-bottom: var(--tenka-space-xxs);
}
.py-xs {
  padding-top: var(--tenka-space-xs);
  padding-bottom: var(--tenka-space-xs);
}
.py-s {
  padding-top: var(--tenka-space-s);
  padding-bottom: var(--tenka-space-s);
}
.py-sm {
  padding-top: var(--tenka-space-sm);
  padding-bottom: var(--tenka-space-sm);
}
.py-m {
  padding-top: var(--tenka-space-m);
  padding-bottom: var(--tenka-space-m);
}
.py-ml {
  padding-top: var(--tenka-space-ml);
  padding-bottom: var(--tenka-space-ml);
}
.py-l {
  padding-top: var(--tenka-space-l);
  padding-bottom: var(--tenka-space-l);
}
.py-xl {
  padding-top: var(--tenka-space-xl);
  padding-bottom: var(--tenka-space-xl);
}
.py-xxl {
  padding-top: var(--tenka-space-xxl);
  padding-bottom: var(--tenka-space-xxl);
}
.py-xxxl {
  padding-top: var(--tenka-space-xxxl);
  padding-bottom: var(--tenka-space-xxxl);
}

/* Padding Horizontal */
.py-xxs {
  padding-top: var(--tenka-space-xxs);
  padding-bottom: var(--tenka-space-xxs);
}
.py-xs {
  padding-top: var(--tenka-space-xs);
  padding-bottom: var(--tenka-space-xs);
}
.py-s {
  padding-top: var(--tenka-space-s);
  padding-bottom: var(--tenka-space-s);
}
.py-sm {
  padding-top: var(--tenka-space-sm);
  padding-bottom: var(--tenka-space-sm);
}
.py-m {
  padding-top: var(--tenka-space-m);
  padding-bottom: var(--tenka-space-m);
}
.py-ml {
  padding-top: var(--tenka-space-ml);
  padding-bottom: var(--tenka-space-ml);
}
.py-l {
  padding-top: var(--tenka-space-l);
  padding-bottom: var(--tenka-space-l);
}
.py-xl {
  padding-top: var(--tenka-space-xl);
  padding-bottom: var(--tenka-space-xl);
}
.py-xxl {
  padding-top: var(--tenka-space-xxl);
  padding-bottom: var(--tenka-space-xxl);
}
.py-xxxl {
  padding-top: var(--tenka-space-xxxl);
  padding-bottom: var(--tenka-space-xxxl);
}

/* Padding */
.pt-xxs {
  padding-top: var(--tenka-space-xxs);
}
.pt-xs {
  padding-top: var(--tenka-space-xs);
}
.pt-s {
  padding-top: var(--tenka-space-s);
}
.pt-sm {
  padding-top: var(--tenka-space-sm);
}
.pt-m {
  padding-top: var(--tenka-space-m);
}
.pt-ml {
  padding-top: var(--tenka-space-ml);
}
.pt-l {
  padding-top: var(--tenka-space-l);
}
.pt-xl {
  padding-top: var(--tenka-space-xl);
}
.pt-xxl {
  padding-top: var(--tenka-space-xxl);
}
.pt-xxxl {
  padding-top: var(--tenka-space-xxxl);
}

/* Padding Right */
.pr-xxs {
  padding-right: var(--tenka-space-xxs);
}
.pr-xs {
  padding-right: var(--tenka-space-xs);
}
.pr-s {
  padding-right: var(--tenka-space-s);
}
.pr-sm {
  padding-right: var(--tenka-space-sm);
}
.pr-m {
  padding-right: var(--tenka-space-m);
}
.pr-ml {
  padding-right: var(--tenka-space-ml);
}
.pr-l {
  padding-right: var(--tenka-space-l);
}
.pr-xl {
  padding-right: var(--tenka-space-xl);
}
.pr-xxl {
  padding-right: var(--tenka-space-xxl);
}
.pr-xxxl {
  padding-right: var(--tenka-space-xxxl);
}

/* Padding Bottom */
.pb-xxs {
  padding-bottom: var(--tenka-space-xxs);
}
.pb-xs {
  padding-bottom: var(--tenka-space-xs);
}
.pb-s {
  padding-bottom: var(--tenka-space-s);
}
.pb-sm {
  padding-bottom: var(--tenka-space-sm);
}
.pb-m {
  padding-bottom: var(--tenka-space-m);
}
.pb-ml {
  padding-bottom: var(--tenka-space-ml);
}
.pb-l {
  padding-bottom: var(--tenka-space-l);
}
.pb-xl {
  padding-bottom: var(--tenka-space-xl);
}
.pb-xxl {
  padding-bottom: var(--tenka-space-xxl);
}
.pb-xxxl {
  padding-bottom: var(--tenka-space-xxxl);
}

/* Padding Left */
.pl-xxs {
  padding-left: var(--tenka-space-xxs);
}
.pl-xs {
  padding-left: var(--tenka-space-xs);
}
.pl-s {
  padding-left: var(--tenka-space-s);
}
.pl-sm {
  padding-left: var(--tenka-space-sm);
}
.pl-m {
  padding-left: var(--tenka-space-m);
}
.pl-ml {
  padding-left: var(--tenka-space-ml);
}
.pl-l {
  padding-left: var(--tenka-space-l);
}
.pl-xl {
  padding-left: var(--tenka-space-xl);
}
.pl-xxl {
  padding-left: var(--tenka-space-xxl);
}
.pl-xxxl {
  padding-left: var(--tenka-space-xxxl);
}
